[2017-10-17 20:47] zeffy commented on #113
@Syping No worries! I was mostly able to reproduce this and I have a pretty good idea what is causing it now (although debugging a system that is having severe slowdowns and crashing is kind of difficult). Thank you though.

[2017-10-17 23:34] WackyWombat77 commented on #114
Thanks for the reply :-) Actually, I am using v0.7.1.81, sorry about the confusion. When I clicked on the latest stable version link on main page that's the one it took me to.

[2017-10-17 23:47] zeffy commented on #114
Are you positive that you were using 0.7.1.81 when you encountered this?

I had released 0.8.0.143 a little over a week ago but decided to pull it yesterday because many people were experiencing issues similar to what you describe. So if you downloaded wufuc any time in the last week, then you most likely had 0.8.0.143, not 0.7.1.81.

[2017-10-18 00:05] WackyWombat77 commented on #114
I'm not sure now (why I deleted previous message), actually just noticed that, about to uninstall what I have now and install .7.1.81

[2017-10-18 00:29] WackyWombat77 commented on #114
I was having the problems with version .8, very sorry about the confusion.

I uninstalled it and went to version .7.1 and things are great now, rebooted several times, no slow-down at all, and even managed to install a Windows update!  Thank you for the help :-)

[2017-10-18 00:49] zeffy commented on #114
No need to apologize, it's really my own fault for all the confusion. :) I'm glad 0.7.1 is working for you, though. Hopefully I can figure out what is causing all the problems in 0.8 soon and get a new version out that isn't completely busted...

[2017-10-18 07:02] blue-marine commented on #112
@zeffy Thanks for your support and putting this much effort! Hope you manage to discover what's causing those issues. I've sadly submitted to W10 because I don't have the time to work around Microsoft's insistent warnings. Sorry I can't provide more info about reproducing these issues.

@rautamiekka I'm aware Win Updates might take longer sometimes (had to wait about an hour once to get it to just

[2017-10-18 07:49] loikki commented on #113
I have done a few tests before using the old wufuc (they all failed in the way described before):
 - On a W8.1 with an old wufuc that has been removed with an update
 - On a clean install after the updates
 - On a clean install before the updates

[2017-10-25 07:47] ArtTss opened #115 "Cant install new upgrade, pls help"
<details>

## Operating System

[code]

## Processor

[code]

## Installed Hotfixes

[code]

## wuaueng.dll Properties

[code]
</details>

[2017-10-25 07:52] zeffy commented on #115
Hey there, it looks like you're using an older version (<0.6) of wufuc, please download the [**latest version**](https://github.com/zeffy/wufuc/releases/latest) (wufuc_setup_x64.msi) and try it out. It should solve any problems you are having. You may have to restart to fully remove the old patch after you install the new one.

For more information about how the new patch works, see the [README](h

[2017-10-25 07:52] #115 closed

[2017-11-05 09:38] ozyjimbo opened #116 "Not Working"
I have done everything but on my windows 7 i still get the splash screen unsupported hardware and still unable to get anymore updates

[2017-11-09 09:30] kamakuba opened #117 "Can you explain how to patch file ``wuaueng.dll`` staticly"
Hi, can you explain how to patch file ``wuaueng.dll`` staticly?
i see that you did some lookup on pattern ```"FFF3 4883EC?? 33DB 391D???????? 7508 8B05????????"```

[2017-11-09 11:44] zeffy commented on #117
That byte pattern is the beginning of the function IsDeviceServiceable, from there wufuc uses the instructions in that function to find a couple other values and patches them.

The easiest way to manually find the value to modify is to open wuaueng.dll in a debugger (either x64dbg or IDA will work for this), and load its debugging symbols to locate the function IsDeviceServiceable.

On x64 the beg

[2017-11-09 17:15] kamakuba commented on #117
Thank you for great explanation!
![01](https://user-images.githubusercontent.com/21278920/32619017-7a11ecf8-c58a-11e7-836e-7ab76580d57a.jpg)
My resulting offset same as yours...
![02](https://user-images.githubusercontent.com/21278920/32619018-7a48f8a6-c58a-11e7-8c39-d369ac75552c.jpg)

[2017-11-10 10:47] daidaiworm opened #118 "How to install other language/MUI on 7th cpu?"
# How to install other language/MUI on 7th cpu?

I'm using
- win7 ultimate x64
- Chinese language(The only language installed)
- Intel i7-7550U

Actually I don't care about those windows updates/hotfix. It's not very hard to install those via 3rd party anti-virus software. But I do have a need to change MUI to English and Japanese for my work frequently.

In the past it's very easy, I got several

[2017-11-10 12:28] #117 closed

[2017-11-11 18:34] LordSnax opened #119 "Patch is not working."
Howdy All,

I am having an issue with the Zeffy Patch, I have two computers running Windows 7 on the new Ryzen processors. The first one, which is mine, is a Ryzen 5 and the other computer, which is my friend's computer, has a Ryzen 7.

My computer is not showing the "Unsupported Hardware" message, but my Friend's computer is. I have tried different versions of the patch, but to no avail.

Any Hel

[2017-11-13 11:52] KesPCM opened #120 "Stuck on Welcome screen and other issues"
Hi Zeffy,

Thanks for this patch, but I have some issues with it.

After installing the patch and rebooting the PC for the first time, it got back to the login screen, I was able to type in my credentials, but then it got stuck at the Welcome screen with that little blue circle spinning.

I have hard powered off the PC and switched it on again, this time I was able to login and get into Windows. I

[2017-11-13 22:31] zeffy commented on #120
What version of wufuc are you using? 0.7.1 should not be causing black screen errors, as far as I know only 0.8 could have caused it, but I pulled it from the downloads section a few weeks ago (readme has not been updated to reflect this).

Does this keep happening if you uninstall wufuc?

What is your operating system, Windows 7 or 8.1, x86 or x64?

[2017-11-13 22:51] zeffy commented on #119
Hi, apologies for taking so long to get back to you.

Can you open an elevated command prompt window (open your start menu, type `cmd`, right click it and select Run as Administrator) paste the following commands into it, and then copy the text that opens in notepad into this issue:

[code]

That should give me a general idea what's going on.

Thanks.

[2017-11-13 23:04] zeffy commented on #118
Hi, apologies for taking so long to get back to you.

It sounds like wufuc is working correctly, I believe the error code `80073701` you are getting is for some other problem. If it were blocking updates because of your 7th gen Intel CPU it would have error code `80240037`.

However, after some searching around on the internet, I found this: http://blogs.technet.com/b/asiasupp/archive/2011/06/20/h

[2017-11-13 23:06] zeffy commented on #116
Hi, apologies for taking so long to get back to you.

Can you open an elevated command prompt window (open your start menu, type `cmd`, right click it and select Run as Administrator) paste the following commands into it, and then copy the text that opens in notepad into this issue:

[code]

That should give me a general idea what's going on.

Thanks.

[2017-11-14 01:18] LordSnax commented on #119
Thanks for the reply zeffy, but my friend decided to just upgrade his PC to Windows 10. Its a bummer.
My PC is still running Windows 7 and is running fine.
Hope all is well,
Lord Snax

[2017-11-14 01:18] #119 closed

[2017-11-14 03:18] zeffy commented on #119
Ah, that's a shame. I'm happy wufuc is working well on your PC, though!

[2017-11-14 08:57] KesPCM commented on #120
Hi Zeffy,

Thanks for your response. I have downloaded whichever version is currently available here on GitHub. It's 0.7.1.81. The PC is running Win7 x64.

I haven't tried uninstalling wufuc yet, as I wasn't really up for having to keep on re-installing it over and over again. It's been much better since yesterday, I was able to login to the PC without any issues ever since posting my firs message

[2017-11-14 10:11] Syping commented on #116
I don't wanna open a new issue to report that so i choosed that one to report in.

Wanna tell you that random times is not working at me now too, i was working on my VM and tried to install an Windows update.
https://i.imgur.com/OaX4pQ2.png

But sadly couldn't get any log because it's so random that i can't reproduce it when i try to get it happening again.

After reopen Windows Update it worked a

[2017-11-14 10:42] zeffy commented on #116
@Syping Interesting. What version is your wuaueng.dll?

I'm currently installing the latest rollup updates to see if I can identify what is causing this.
I was also already working on something that may fix this if it's just an injection problem, here's hoping...

[2017-11-14 12:23] zeffy commented on #120
Hmm, I don't really know tbh. I'm kind of bewildered though, because I haven't seen this issue being caused by 0.7.1.81 before, only on the 0.8 version which was pulled, so if you are indeed using 0.7.1.81, that is concerning.

If you open regedit (not in safe mode) and navigate to the `Image File Execution Options` key, is there a `svchost.exe` subkey? If not, then you're definitely on 0.7.1.81.

[2017-11-14 14:16] Syping commented on #116
Version: 7.9.9600.18696
sha256 d02b608244d084669632f60cc977ba10a9a5f7cea73f15a8ade6bf9efe8c4052 *\Windows\System32\wuaueng.dll

hash for so you can check if you have the same file as me

[2017-11-15 14:52] KesPCM commented on #120
Hi Zeffy,

I've checked under Programs and Features and can confirm that I have 0.7.1.81. I have also checked for svchost.exe under Image File Execution Options (not in safe mode) and it's not there.

I've checked System logs and could see quite a few service crash reports around the time when I had black screen or was stuck at Welcome screen.

However I haven't had anymore of these issues yesterd

[2017-11-15 22:43] zeffy commented on #120
Which services were crashing? Just curious.

[2017-11-16 14:17] PaperCuTTzi opened #121 "Batch installer doesn't warn the user when they clone the repository instead of downloading a release"
Hey,

nothing really changed when I ran the batch as an administrator. The command prompt popped up and closed itself, so the batch ran, but it had no effect.

I read your troubleshoot with this ticket [https://github.com/zeffy/wufuc/issues/116](url) and extracted the info by myself in advance.

Thanks a lot in advance.

[2017-11-18 07:44] Schmidlapp84 opened #122 "Black Screen no svchost.exe subkey 0.7.1.81"
Hi Zeffy, I also have the same issue with the black screen/cursor at login on 0.7.1.81.  I also do not have the svchost.exe subkey to delete as you suggested.

The black screen goes away after minute then I can use the computer as normal.  The patch did resolve the "unsupported hardware" message but the black screen makes boot times to desktop rather long.

If its worth noting, my PC had Win 7 Ult

[2017-11-18 12:00] Schmidlapp84 commented on #122
I have uninstalled 0.7.1.18 but am still getting the black screen.

[2017-11-18 12:02] Schmidlapp84 commented on #122
![img_0046](https://user-images.githubusercontent.com/33776234/32980090-1a6c6958-ccac-11e7-9276-f0a3e1c42655.JPG)

[2017-11-18 12:48] Schmidlapp84 commented on #122
I found that my black screen issue was caused by my Killer NIC software. I've since removed it and installed just the driver and its working properly now. Thanks

[2017-11-18 12:48] #122 closed

[2017-11-18 15:41] zeffy commented on #122
I'm glad you were able to solve your issue!

Please let me know if you have any other questions or problems.

[2017-11-18 15:46] zeffy commented on #121
Hi, sorry for the delay!

Which package are you trying to install, `wufuc_v0.7.1.81.zip`?

If you haven't already, perhaps try your luck with the MSI installer instead: https://github.com/zeffy/wufuc/releases/download/v0.7.1.81/wufuc_setup_x64.msi

[2017-11-18 16:59] PaperCuTTzi commented on #121
The .msi installer worked like a charm. Thank you very much^^
I was using the batch from the latest version, which I downloaded directly from this repository, before.

[2017-11-18 21:56] zeffy commented on #121
That's probably why, if you just clone the repository then you have to compile the DLLs and such first, otherwise it won't work. I should probably look into why the batch script was just closing though, that shouldn't happen regardless.

Thanks for reporting this, and I hope wufuc is working to your liking. :)
Please let me know if you have any other questions or issues.

Going to leave this issue

[2017-11-18 21:59] #118 closed

[2017-11-21 11:49] KesPCM commented on #120
There were quite a few. Some network related, others - can't remember now. Haven't made a note of it and now these logs are too far back. Sorry.

[2017-11-21 13:51] umeo opened #123 "Detected that no supported updates are installed"
--The error log is as below:

<details>

## Operating System

[code]

## Processor

[code]

## Installed Hotfixes

[code]

## wuaueng.dll Properties

[code]
</details>
-------------------------------------
and the output message when run by the bat file are as below:
----------------------------
aio-wuaueng.dll-patch.bat
Copyright (C) 2017 zeffy <https://github.com/zeffy>
This program comes with A

[2017-11-24 19:20] San-James opened #124 "Virus detected"
My antivirus accuses IPD.ALEXA.51 virus in the wufuc.dll file when installing.
Path C:\Program Files\wufuc\wufuc.dll
...with the wufuc_setup_x86.msi Installer

[2017-11-24 21:08] zeffy commented on #124
There is no virus. wufuc has to inject itself into a svchost.exe process in order to patch Windows Update, which may be considered by some antiviruses to be characteristic of malware. Just restore wufuc.dll from quarantine and add it to the exception list in your antivirus program.

[2017-11-25 00:41] zeffy commented on #123
Hey there, it looks like you're using an older version (<0.6) of wufuc, please download the [**latest version**](https://github.com/zeffy/wufuc/releases/latest) (wufuc_setup_x64.msi) and try it out. It should solve any problems you are having. You may have to restart to fully remove the old patch after you install the new one.

For more information about how the new patch works, see the [README](h

[2017-11-25 00:41] #123 closed

[2017-11-28 00:38] #124 closed

[2017-12-02 19:02] CloudHaze commented on #70
@zeffy  Hello Zeffy nice to meet you i was wondering, why i'm getting this error?

I have a ryzen cpu 5 1600 with a Ab350 Motherboard + Windows 7 ultimate 64 bit

This happens when I run the file: install_wufuc as administrator.
![screenshot_2](https://user-images.githubusercontent.com/19179554/33518803-d75f04ec-d771-11e7-91dd-0ed16018cff6.png)

[2017-12-02 20:46] zeffy commented on #70
@CloudHaze Like the error message in your screenshot says, you probably cloned the repo on accident. Download it from http://github.com/zeffy/wufuc/releases/latest either the zip or the x64 MSI file, and it should work.

[2017-12-03 17:34] CloudHaze commented on #70
@zeffy  Thanks for your comment

Does your program, unlocks more Windows Updates? or it just Bypass the message that: Windows cannot install updates, or whatsoever?
I did install the Wufuc_Setup_x64.msi on the Program files folder
Them it open a CMD interface, and i guess that's all? right

Sorry for my poor English.

Because

[2017-12-03 17:42] zeffy commented on #70
@CloudHaze My patch only bypasses the "Unsupported hardware" pop up message [(screenshot)](https://kb.stonegroup.co.uk/kb_upload/image/Windows_7_Kaby_Lake_1.jpg) that shows if you have a 7th+ generation processor. If you were getting that pop up before installing wufuc and it isn't showing now, then that means it is working.

[2017-12-03 17:59] CloudHaze commented on #70
@zeffy  Oh i see, i never had that problem on the ryzen cpu 5 1600, i though your app unlock more updates for ryzen, i used Windows-Mini update tool, and yep i can get all updates, and install without the message (Unsupported hardware) thanks so much, anyway :3

Now the thing is, i would love to see if someone can created a program or code that improve Single-core performance on AMD processors, be

[2017-12-04 21:35] eliminatrix opened #125 "Can't install or activate Microsoft Update"
Hi There,

I just built a new computer with a Core i3 7100 CPU. I've installed Windows 7 x64 and all the drivers etc. I installed your patch and it seems to work - I can download and install all the Windows update patches. However, I am NOT able to install or activate 'Microsoft Updates.' On the main Windows Update screen, there is a link that says - 'Get updates for other Microsoft Products. Find

[2017-12-05 00:24] zeffy commented on #125
@eliminatrix Hi, unfortunately this is being caused by something other than my patch. Did some searching around and found out this article that has a couple potential solutions (posted today) https://www.bleepingcomputer.com/news/microsoft/windows-7-update-giving-a-80248015-error-heres-why-and-how-to-fix-it-/

Hope this helps.

[2017-12-10 06:42] jeffswt commented on #68
@zeffy I can do Simplified Chinese (and probably Traditional Chinese). Is that necessary?

[2017-12-10 06:56] jeffswt commented on #68
@zeffy CONTRIBUTING.md has been done...
Please check if there are any issues.

[2017-12-10 07:44] jeffswt commented on #68
@zeffy README.md had been completed.
I haven't checked whether the links are Chinese, though.
Please check if it needs any modifications.

[2017-12-10 07:59] jeffswt commented on #68
@zeffy CONTRIBUTING.md and README.md in Traditional Chinese had also been completed. Actually it's principally the same for the two subtypes - only the characters are different. But I think that there are some detailed differences that I cannot observe, so just let others mend this version.

[2017-12-10 13:00] zeffy commented on #68
@jeffswt Great! Thank you very much.

[2017-12-11 14:56] 26kick opened #126 "Didn't work - Unsupported Hardware pop up on Ivy Bridge i74930k"
Hi, I'm just putting a system together and am using Win7 for the 1st time.  I got the Unsupported Hardware pop up with my i74930k.  I installed the latest stable build from this site this morning and tried to update Windows and it didn't work.  I've searched around and haven't seen this issue associated with this processor.  Please advise.  Thank you.

[2017-12-11 14:58] zeffy commented on #126
What exactly isn't working?

Is there any specific error code Windows Update is showing you when you try to update, or are you still getting the Unsupported Hardware pop up?

[2017-12-11 15:52] 26kick commented on #126
Hi, thanks for the quick response!  I'm about to head to a dr appt but I got the pop up and WU error 80070103. I look forward to your suggestion, thank you.

[2017-12-12 14:29] 26kick commented on #126
Any help on this would be much appreciated.
![img_20171211_075007](https://user-images.githubusercontent.com/34450379/33889671-b40aac94-df05-11e7-8286-624202f86774.jpg)

[2017-12-15 05:08] SoapDisoriented opened #127 "WUAUENG.DLL"
hi when trying to install i get this error : "file wuaueng.dll is under the minimum supported version."
what is that .DLL file and how do i fix it?

~Thanks

[2017-12-15 08:18] zeffy commented on #127
@SoapDisoriented This error shows when you don't have updates installed to the point where you are getting the "unsupported hardware" message. To fix the error, just keep installing Windows Updates until it gives you the unsupported hardware pop up message, and then you can install wufuc (if you need it).

[2017-12-15 11:35] SoapDisoriented commented on #127
great thanks!

[2017-12-15 17:27] #127 closed

[2017-12-18 01:52] ShadowSteel opened #128 "Error"
<details>

## Operating System

[code]

## Processor

[code]

## Installed Hotfixes

[code]

## wuaueng.dll Properties

[code]
</details>

[2017-12-18 10:07] zeffy commented on #128
Hey there, it looks like you're using an older version (<0.6) of wufuc, please download the [**latest version**](https://github.com/zeffy/wufuc/releases/latest) (wufuc_setup_x64.msi) and try it out. It should solve any problems you are having. You may have to restart to fully remove the old patch after you install the new one.

For more information about how the new patch works, see the [README](h

[2017-12-18 10:07] #128 closed

[2017-12-20 16:57] canislupus85 opened #129 "Detected that wuaueng.dll is below the minimum supported version"
I received the following error when trying to install the fix:

![capture](https://user-images.githubusercontent.com/34718714/34218642-ba3bffaa-e57c-11e7-8026-668b0fb5725b.PNG)

I went to microsoft's site and downloaded the update package which brought the version to:  7.6.7601.23453

I am running Windows 7 SP1 x64.  Any help would be appreciated.

[2017-12-24 22:24] CloudHaze opened #130 "Problem with the Wufuc"
I'm running Windows 7 ultimate 64 bit, the problem is that i'm still getting the unsupported hardware
Also i Installed the  wufuc_setup_x64 <--- and problem persist, what can i do?

CPU RYZEN 5 1600
MOBO: Ab350 fatality k4 gaming

![problempersist](https://user-images.githubusercontent.com/19179554/34329456-9bf241e0-e8d7-11e7-8721-510698ef62f6.png)

![unsu](https://user-images.githubusercontent.co

[2017-12-25 19:53] chris299 commented on #129
I experienced the same problem. however, with that version the "normal" Windows-Update still worked and brought me to a version where wufuc was needed....

[2017-12-29 06:23] zeffy commented on #130
Hi, sorry for the delay; I've been without a usable computer for several days.

It's hard to tell without the log files (in your screenshot, `wufuc.rundll32.exe.log` and `wufuc.svchost.exe.log`), but this is **probably** caused because your Windows Update service is configured in a weird way. Can you run `sc queryex wuauserv` in a command prompt window and copy the output here? And upload the log

[2017-12-29 06:25] zeffy commented on #129
Hi, sorry for the delay. What @chris299 says is correct, just keep updating with Windows Update normally until you start getting the Unsupported hardware popup, then you can install wufuc.

This error message will be removed in the next version of wufuc, so you can install it regardless of the wuaueng.dll version (no ETA yet but it's coming along well, I just have to implement a few features and d

[2017-12-29 06:28] zeffy commented on #126
Hey @26kick, very sorry for the delay; I've been without a usable computer for several days.

It's hard to tell without wufuc's log files (`wufuc.rundll32.exe.log` and `wufuc.svchost.exe.log`), but this is **probably** caused because your Windows Update service is configured in a weird way. Can you run `sc queryex wuauserv` in a command prompt window and copy the output here? And upload the log fi

[2018-01-06 08:38] ZURYB commented on #98
Zeffy:
The link https://github.com/zeffy/wufuc/releases/latest shows wufuc v0.7.1.81 downloads. Can't find v0.8 with binaries.

I have a problem with Windows 7 x64 latest patches (from this week) installed. Copied existing disks to a new one and used a new motherboard.

The not supported message was still shown after installing and after rebooting (never worked).

I used the wufuc v0.7.1.81 zip fi

[2018-01-06 08:52] ZURYB opened #131 "v0.7.1.81 did not work on Windows 7 x64"
Zeffy:
The link https://github.com/zeffy/wufuc/releases/latest shows wufuc v0.7.1.81 downloads. Can't find v0.8 with binaries.

I have a problem with Windows 7 x64 latest patches (from this week) installed. Copied existing disks to a new one and used a new motherboard.

The not supported message was still shown after installing and after rebooting (never worked).

I used the wufuc v0.7.1.81 zip fi

[2018-01-06 09:03] zeffy commented on #131
Looks like the same issue described in #103. It is fixed in the development code but I haven't released a new version yet because I'm still working out some other issues, but you can still work around it with v0.7.1.81.

v0.8 binaries were pulled because it had serious problems (BSODs, and other system instability) so I decided to scrap it entirely and start over.

Anyways, back to your issue. To

[2018-01-06 09:23] ZURYB commented on #131
I have done that and rebooted. The service is now type: WIN32_SHARE_PROCESS. The "not supported" message still appears when attempting to use Windows Update, so it didn't work.

Perhaps useful to know:
I copied the disk before rebooting after the January 4 updates on the old hardware, it finished installing during the boot at the new hardware (before use of wufuc). It shows those updates have been

[2018-01-06 09:26] zeffy commented on #131
Hmm, yes I saw from your logs that wuaueng.dll resides on drive E:\. Is that the drive you have Windows installed on? It's possible having it on drive E:\ instead of C:\ could be causing problems.

Can you upload your logs again now that you've reconfigured wuauserv to run in a shared process? Thanks

[2018-01-06 09:39] ZURYB commented on #131
Yes Windows is on E:\Windows. C has an inaccessible directory called windows, but it does not have Windows files.

Logs:
[wufuclogs2.zip](https://github.com/zeffy/wufuc/files/1608639/wufuclogs2.zip)

[2018-01-06 09:42] zeffy commented on #131
Can you also run `sc queryex wuauserv` again and copy the output here? (Specifically the line that says PID).

[2018-01-06 09:48] ZURYB commented on #131
[code]

The PID changes at reboot or service restart.

[2018-01-06 09:58] zeffy commented on #131
Weird, seems like it's still running in its own process regardless of service configuration. This may just be yet another edge case that v0.7 cannot handle very well.

I believe the development version I'm currently working on should be able to handle it fine, but I don't have an ETA for it unfortunately. I've been taking my time to make sure everything is completely stable (I don't want a repeat

[2018-01-06 09:59] ZURYB commented on #131
Thanks for you help and for this tool. I appreciate the work you put into it!

[2018-01-06 12:51] ZURYB commented on #117
Thanks for explaining. I have described how I did it using x64dbg, perhaps it's useful to someone:

Copy `wuaueng.dll` to a work directory. From x64dbg, `Open`, select file `wuaueng.dll`. Click tab `Symbols`, and at the left section, right click `Load library` and select `wuaueng.dll`. This should be one of the modules in the list. Then right click and `Download Symbols for All Modules`.

At tab S

[2018-01-07 16:40] 26kick commented on #126
Hi Zeffy, I've had no time to work on this issue.  Thank you so much for your response.  I will get those log files for you when I can.  I'm not quite sure how to get them, to be honest, but I'll figure it out.

I did find that there was one update that was failing every time from NVIDIA so I hid it.  I did still get the unsupported pop up at that time though.  Thanks again and I'll get back with

[2018-01-07 21:58] zeffy commented on #126
@26kick The log files will be in the same folder where you installed wufuc to.

[2018-01-11 12:04] RafaelCV opened #132 "Careful with kb4056895 on windows 8.1"
I have a ryzen7 1700 and windows 8.1, and i get random bsod and freezing after install this, microsoft said this update is actually blocked for old amd cpus, but seems because the wufuc, i get it on a new one, and the problem happen with new amc cpus too.
After remove and manually block the kb4056895, the system back to normal.

PS: i believe the same can happen with mostly new updates for this fa

[2018-01-11 12:24] zeffy commented on #132
Thanks for posting this. Unfortunately there isn't currently anything I can do on my end to prevent this buggy update from getting installed, since wufuc bypasses the (originally artificial) CPU check. I'll make a note of this in the readme, though.

[2018-01-11 12:34] RafaelCV commented on #132
I know, just wanted leave a warning for everyone what can get this same problem to be careful, or know what the problem.
PS: For who is with this problem, after 2 crachings, i selected to boot in secure mode, and removed the KB.

[2018-01-11 14:02] zeffy commented on #132
I'm gonna keep this issue open until Microsoft fixes the updates, just in case other people come here looking for information.

[2018-01-11 14:18] zeffy commented on #132
Added important bits to the readme that I could parse from that KB article. I don't really have a way to test this issue or the solution you posted, but please let me know if I should add anything else or if anything said is inaccurate.

https://github.com/zeffy/wufuc#if-you-get-bsods-after-installing-certain-updates-on-specific-amd-cpus-updated-01112018

[2018-01-17 13:23] aruncannes opened #133 "Unsupported Hardware"
Windows update is not working in windows 7 os (dell inspiron 15 5000 series 7 th gen)

[2018-01-17 13:24] UnbreakCode commented on #133
Whats the error code?

[2018-01-17 13:27] aruncannes commented on #133
Code 80240037

[2018-01-17 13:30] aruncannes commented on #133
It is very urgent please give any solution for that immediately

[2018-01-17 13:31] UnbreakCode commented on #133
Check if youre using x86 or x64 and use the latest version,reinstall it and restart

[2018-01-17 13:39] aruncannes commented on #133
Iam using x64.how i reinstall the os i dont have original give some instruction how to do the process

[2018-01-17 13:40] UnbreakCode commented on #133
https://github.com/zeffy/wufuc/releases/latest download and click on remove

[2018-01-17 13:45] aruncannes commented on #133
I done it now what i do my friend

[2018-01-17 13:46] UnbreakCode commented on #133
try reinstall

[2018-01-17 13:52] aruncannes commented on #133
I installed it

[2018-01-17 13:52] UnbreakCode commented on #133
and reboot

[2018-01-17 13:52] aruncannes commented on #133
Now i have to restart my computer and check the updates?????

[2018-01-17 13:53] UnbreakCode commented on #133
yes

[2018-01-17 13:53] aruncannes commented on #133
I think it is working thank u very much my friend

[2018-01-17 13:54] UnbreakCode commented on #133
no problem so i think it's solved ;-)

[2018-01-17 14:17] Borjahen opened #134 "¿Is danger use Win7 / 8.1 with seventh?"
Sorry for my bad english.

If I install the motherboard drivers can use Win 7 / 8.1 without install Wufuc without problems in i3-seventh?

Is danger? for example for the hardware or the system?

[2018-01-17 14:19] UnbreakCode commented on #134
You still can use it without problems.It shouldn't be danger

[2018-01-17 21:11] #133 closed

[2018-01-17 21:13] zeffy commented on #134
Like @UnbreakCode says, you should be able to install the drivers with no problems.

[2018-01-17 21:13] #134 closed

[2018-01-17 21:23] nartaki opened #135 "One time only..."
I installed after the first notification appeared and it worked.2 days later i get the msg again...

[2018-01-17 21:25] zeffy commented on #135
Sorry that's happening, sometimes the patch can be a little finicky. You can try uninstalling and reinstalling wufuc and see if that works.

I'm currently working on a new version that should take care of this behavior, but still no ETA on it...

[2018-01-23 19:45] bklyn459 opened #136 "Dr.Web neutralized"
Running Win7 Pro 64-bit on Ryzen 5 wanting to eliminate the unsupported message from MS.  Ran wufuc_setup_x64 successfully.  Within a minute Dr. Web reported wufuc.dll as a threat identified as "DPH:Trojan.Inject.3" and moved the file.  Within seconds of that, MS issued the unsupported message.

I am writing to Dr.Web as well and will report back if any response.

[2018-01-23 19:50] zeffy commented on #136
It's just a false positive. Unfortunately wufuc has to use a technique that is commonly utilized by various malware called dll injection in order to modify the process that Windows Update runs in and disable the CPU check.

Your antivirus is simply doing its job, however in this case you can safely make an exception for wufuc.dll and let it work.

[2018-01-23 19:50] UnbreakCode commented on #136
True :) it's not a Virus ^^

[2018-01-23 19:53] bklyn459 commented on #136
OK thought something like that, will do, thank you.

[2018-01-23 19:58] #136 closed

[2018-01-29 19:17] OronDF343 commented on #132
I have Windows 7 x64, Ryzen 7 1700. I haven't ever recieved the latest security updates from 2018-01 (both for Windows and for .NET), even though I have checked for updates at the time of release (and my laptop recieved those updates). I guess wufuc didn't bypass the block for me

[2018-01-31 00:58] nartaki commented on #132
w7 x64 Fx 6300 (Yes they to got dumped in the shitlist) got 9/1/18 .NET,Unsuported Hardware msg after that.

[2018-01-31 20:51] jabcreations opened #137 "wufuc v0.7.1.81 no longer working on AMD Ryzen + Windows 7 x64"
It appears as though wufuc v0.7.1.81 is no longer working with AMD Ryzen + Windows 7 x64. I did a repair and I'm not quite sure if it's disable, then check and then enable or not though either way it doesn't seem to work.

Also I'd like to talk with the author in private about a type of vulnerability that they really should be aware of and address that is not security related but still very import

[2018-02-04 10:47] sshmanko opened #138 "KB3150513"
First of all big thanks for making this project, it is a lifesaver!

On Windows 8.1 (6.3.9600) installation of wufuc did not disable popup window, which appeared on every reboot. However updates started working as expected.

Almost all articles mention some KB401xxx updates, however I had none of these installed.
Finally in reddit I have found mentions of KB3150513 which caused popups in my case.

[2018-02-05 07:45] ZockerFloh7 commented on #137
I got the same Problem.
@zeffy can you maybe do an update?

[2018-02-05 21:23] zeffy commented on #137
@jabcreations you can [contact me on Telegram](https://t.me/fuckupsomesemicolons) to discuss this.

[2018-02-05 22:19] jabcreations commented on #137
@zeffy Do we use the disable first or the enable first? Also we uninstalled (or repaired, can't remember offhand) and it still didn't work (after trying it both ways) on Windows 7 x64. What should we do? I know that there are security updates for that computer being hidden by Microsoft.

[2018-02-06 07:32] ZockerFloh7 commented on #137
I just did a repair through the installer and rebooted.

[2018-02-11 08:36] jabcreations commented on #137
@zeffy No luck on that Windows 7 x64 Ryzen system so what information would prove useful in debugging for you?

[2018-02-11 15:24] eychei opened #139 "Patch cpu restriction mixed reality"
Hi,

i dont know how to contact anyone so i am opening an issue. I am very sorry for that.
I am trying to patch the windows mixed reality app to remove the CPU restriction.
This restricts the headset to 60hrz on 2 core systems. Minimum requirement is 4 cores for ultra mode.

I am using ida 7 and do have some knowledge in reverse engineering. Found the cpuid calls and the part where it asks for log

[2018-02-14 04:43] NoMoreFood opened #140 "Apparent License Violation (GPL versus MSR-SSLA)"
This appears to be a derivative work of Detours.   Doesn't the use of Microsoft Research Shared Source License Agreement (MSR-SSLA) conflict with GPL?

At the very least, I believe the following restriction conflicts with GPL: "That if you distribute the Software or any derivative works of the Software, you will distribute them under the same terms and conditions as in this license, and you will n

[2018-02-14 05:10] zeffy commented on #140
Hmm, you appear to be correct. The stuff with detours there is just in-progress code, nothing that has been in a release build.

I was planning on switching to a different hooking lib with a GPL-compliant license before the next release, though, so that should clear this up, yes?

[2018-02-14 05:17] NoMoreFood commented on #140
Correct.  Or, in theory, you could release this project itself under MSR-SSLA and remove the GPL tag.

[2018-02-14 07:22] MindlessCirno commented on #132
I got kb4056895 even without installing wufuc on ryzen 1700 windows 8.1. I was forced to uninstall it in safe mode due to constant CLOCK_WATCHDOG_TIMEOUT BSOD

[2018-02-18 19:31] UberGeekDude opened #141 "2-14-2018 Updates disabled wufuc"
Not an issue!  Just a note.

Today, 2-18-2018, Got Unsupported Version popped up.  I originally installed v0.6, about May of 2017.  I ran uninstall from wufuc (0.6) then ran the latest and that removed the popup.  Thanks again!

I am not sure what caused this, though.  My latest Windows update on 2-14-2018 and all was fine for three days.  The following Updates from Microsoft occurred on 2-14-2018

[2018-02-18 19:32] UberGeekDude commented on #141
Not an issue.

[2018-02-18 19:32] #141 closed

[2018-02-19 04:23] nic011 opened #142 "CAN WE USE INTEL GRAPHICS ?"
First of all a big thanks to all contributors in this great effort!!

I'm on a gp62 7rd leopard (i7 7700hq) ,with win8.1 pro x64 and I can't install the Intel graphic drivers ,only nvidia ones (getting unsupported CPU error)...
I tried several driver versions also .Is this normal ? Will I need a moded bios or something?

Tnx in advance

[2018-02-19 06:53] tomasz1986 commented on #142
The installers may use their own logic to block the installation. How about simply unpacking the package and using the Device Manager to install the driver?

[2018-02-19 08:47] nic011 commented on #142
Nope .That gives "best driver for this device already installed" or ...something like that.

[2018-02-19 14:58] AQXT1000 opened #143 "Make a list of updates to NOT install on windows 7/8.1"
Could you or someone here make a issue pointing what updates to NOT install on windows 7/8.1? Because it could be really useful for anyone wanting to install updates but being aware of the updates that causes the popup window or BSODs, making a list here or in the main page would be really helpfull for everyone.

PS:I didn't know where to put this request since it's my first time here, so if you j

[2018-02-19 20:06] tomasz1986 commented on #142
I have checked the MSI driver package, and yes, in fact, that driver does support only Windows 10. In order to even try to install it, you would have to modify the INF file (and thus break its digital signature). Even then, there is no guarantee that it will be compatible.

You may want to check http://www.tomshardware.com/answers/id-3299031/kaby-lake-graphics-630-video-drivers-windows-x64.html, a

[2018-02-19 22:19] nic011 commented on #142
That link was all i needed my friend. I just grabbed the latest driver mentioned in that article ( the 4508  is latest  i think) and installed via dev. manager. Everything works as expected now .
Thanks so much ,take care !

[2018-02-19 22:23] nic011 commented on #142
That link was all i needed my friend. I just grabbed the latest driver mentioned in that article ( the 4508 is latest i think) and installed via dev. manager. Everything works as expected now .
Thanks so much ,take care !

[2018-02-20 05:30] tomasz1986 commented on #142
I am glad that I could help :wink:.

[2018-02-20 08:11] #142 closed

[2018-02-20 17:29] nartaki commented on #135
It has a weird way of working on Fx-6300 (You should add to affected CPU's btw) .Some updates come in and then fail,others come in and install,still getting a years or so "updates"! So working as intended for now.

[2018-02-21 22:56] nic011 opened #144 "IS IT SAFE TO PATCH CPU WHILE ON WUFUC ?"
I'm a bit concerned about how safe it is to update with M$ or Intel security update patches since they are meant for specific cpus and hardware. Maybe it's a noob question i know , but i'm not a coder or engineer to fully understand how wufuc works . Just want to be sure updating is completely safe .
On a win8.1 x64 with kabylake cpu.

[2018-02-23 05:56] GuzziExa commented on #137
Hello Zeffy, many thanks for sharing your excellent work!
I think that my issue can be grouped with the above. My PC runs Windows 7 Ultimate 64-bit on an AMD Ryzen 5 1600X. After installing version 0.7.1.81, whatever the browser I may be using (Firefox, Internet Explorer or Google Chrome, it hangs after some time of use (maybe 10 minutes). The problem shows up with the browser freezing and not res

[2018-02-23 05:58] jabcreations commented on #137
@GuzziExa Seriously? Don't hijack other people's threads! Start your own if you have a different issue,

[2018-03-16 13:11] zeffy commented on #140
This has been resolved. wufuc has been ported over to use [minhook](https://github.com/TsudaKageyu/minhook), and everything related to Detours was scrubbed from the git history.

Closed.

[2018-03-16 13:11] #140 closed

[2018-03-16 13:16] zeffy commented on #144
There has previously been incompatible updates that should not be installed, yes. See #132 for more information.

As far as I know this has been resolved though, at least according to Microsoft's KB article here: https://support.microsoft.com/en-us/help/4073707/windows-os-security-update-block-for-some-amd-based-devices

Sorry for the delay in my response. I hope this clears up your question.

[2018-03-16 13:26] zeffy commented on #139
Sorry for the delay in my response.

If you want to contact me to ask general reverse engineering questions regarding this, I may be able to help. Feel free to drop by my Discord server and message me there. https://discord.gg/G8PD2Wa

[2018-03-16 13:26] #139 closed

[2018-03-16 13:28] zeffy commented on #135
Sorry for the delay in my response.

I'll add Fx-6300 to the list of affected CPU's thank you for letting me know about it!

[2018-03-16 13:28] #135 closed

[2018-03-16 13:31] zeffy commented on #132
Sorry for the delay in my response, guys.

I wanted to check on this again and see if people are still experiencing issues with these updates? According to the Microsoft KB article in the OP, they claim to have fixed the crashes, but I have no way to test hardware incompatibilities and the blue screens they cause, so if they're still a problem I can make a note of it somewhere.

[2018-03-16 13:32] #131 closed

[2018-03-16 13:33] #130 closed

[2018-03-16 13:35] zeffy commented on #137
Sorry for the delay in my response.

New version is coming out very soon that I think should fix this, hopefully.

[2018-03-16 13:36] #114 closed

[2018-03-16 13:37] #110 closed

[2018-03-16 13:37] #111 closed

[2018-03-16 13:37] #112 closed

[2018-03-16 13:37] #113 closed

[2018-03-16 13:37] #120 closed

[2018-03-16 13:38] #125 closed

[2018-03-16 13:41] zeffy commented on #121
Just checked this and the batch installer seems to no longer have this problem, so I'm going to close this.

[2018-03-16 13:41] #121 closed

[2018-03-16 13:42] zeffy commented on #98
New version coming very soon that I think should finally fix this.

[2018-03-16 13:42] #98 closed

[2018-03-16 13:43] zeffy commented on #116
New update coming very soon that I think should fix this problem.

[2018-03-16 13:46] #126 closed

[2018-03-16 13:47] zeffy commented on #129
New update coming very soon that will fix this.

[2018-03-16 13:47] #129 closed

[2018-03-16 13:47] #137 closed

[2018-03-16 13:48] zeffy commented on #138
Sorry for the delay in my response.

There is a new version coming out very soon that should fix this.

[2018-03-16 13:48] #138 closed

[2018-03-16 14:21] 26kick commented on #126
Thank you, Zeffy. I have been getting by. It's interesting, updates work but I still get the pop-up. I look forward to trying the new version! Thanks so much for following up.

[2018-03-16 14:24] RafaelCV commented on #132
Seems this KB's got replaced, don't appears more on my hidden updates list, all actual updates installed and don't get any new problem actually.

[2018-03-16 14:24] zeffy commented on #126
The new version is up as of a few minutes ago, feel free to try it out when you get a chance! :)

https://github.com/zeffy/wufuc/releases/latest

[2018-03-16 14:37] zeffy commented on #132
Good to know, thank you @RafaelCV!

[2018-03-16 14:50] #144 closed

[2018-03-16 14:58] zeffy commented on #68
New version (1.0) has been released, and a lot of the documentation had to be updated as a result, unfortunately. I've **removed** the CONTRIBUTING.md file and replaced it with an issue template located at `.github\ISSUE_TEMPLATE.md`. It's mostly the same information, just in a different format. I also moved the FAQ section from the README into its own file `FAQ.md`.

This **should** be the last m

[2018-03-17 08:46] MindlessCirno commented on #132
kb4056895 was replaced for me in update list with KB4074594 on February 13. I installed it that day and don't have any problems so far. It should include patches for spectre and meltdown vulnerabilities too. Seems all this issues which people had with latest updates was not related with wufuc in any way. And were due buggy untested spectre/meltdown patches released in hurry.

[2018-03-20 11:17] mirh commented on #143
You mean for BSODs like [this](https://www.askwoody.com/2018/macrium-reflect-triggers-bsod-on-32-bit-win7-systems-after-installing-kb-4088875-this-months-monthly-rollup/)?
Or am I missing something older and more nefarious?
In that case there's already [a list](https://www.askwoody.com/patch-list-master/) (it's monthly because I think for such issues microsoft get their asses up after some time)

[2018-03-20 11:37] zeffy commented on #143
@mirh specifically we're referring to the updates released since the Spectre/Meltdown vulnerabilities were discovered that have caused widespread system instability and crashes. at first I was thinking that my patch was marking "incompatible" updates as "compatible" as a side effect of how it works and it was causing updates to be installed on PCs they shouldn't have been, but I think from what I'

[2018-03-20 13:33] danielsokolowski commented on #143
I would humbly suggest against that, if 'wufuc' was determined not to be the cause (and assuming it never will conflict with other updates) such list falls outside of this project's scope. Development resources are finate and such lists tend to get outdated once the excitement dies down.

[2018-03-20 14:02] zeffy commented on #143
@danielsokolowski You make a good point. However, I don't think it is outside the realm of possibility that Microsoft may at some point push updates that are unstable on unsupported CPUs. Though until that is the case I think you're right in that it would probably be a good idea to avoid making update "black lists" associated with wufuc.

On a side note, since wufuc is more or less "finished" (I h

[2018-03-20 14:31] danielsokolowski commented on #143
@zeffy in the end it's your call fine sir :), but I believe splitting it into a separate project does make sense. Take a look at unchecky which might have some good ideas, it's a different domain but similar in spirit -  prevents installing bundled software.

[2018-03-20 16:41] mirh commented on #143
I'm not sure how the trend could continue. I mean, windows is arguably in quite worse state than years ago, but that was a way more *sensitive* matter than most other normal updates.

To their credit, I can say that having to rush + missing or uncompleted documentation (of such exoteric stuff) is quite comprehensible to eventually cause problems.
And, even though I'm by no means buying this spectr

[2018-03-20 17:51] zeffy commented on #143
@mirh All true. I didn't mean to fault Microsoft for the buggy Spectre/meltdown patches (too much), as I realize they were most likely feeling a lot of external pressure to get fixes for the vulnerabilities out as soon as possible, so mistakes were bound to happen.

However, there have been other cases where they have released very broken updates besides these, so it's not really a new thing.

Tha

[2018-03-20 19:37] mirh commented on #143
Take also into consideration there might already be plenty of tools doing similar things on the nazi-W10.

[2018-03-23 17:34] Demion opened #146 "Unsupported Hardware MH_ERROR_ALREADY_CREATED"
I keep getting Unsupported Hardware from time to time, `MH_ERROR_ALREADY_CREATED` error.
Usually complete reboot helps, manual Windows Update service (wuauserv) restart does not seem to help.
Clean original install, no antivirus software, Windows Defender / UAC disabled completely.

wufuc v1.0.0.191
Windows 8.1 x64 Professional (Version 6.3.9600)
Intel Pentium G4560 CPU.
[code]
Update: maybe probl

[2018-03-23 21:14] zeffy commented on #146
Most likely correct. It's kind of hard to get the hooking of that function right, since `wuaueng.dll` may be loaded and freed multiple times over the life of the `svchost.exe` process, each time removing my hook. I might have to delve into minhook's source to figure out what's going on (or I could just be doing something wrong on my end?). I'll try to get on this when I can.

In the meantime setti

[2018-03-23 21:15] Demion commented on #146
With Windows update in its own process, svchost.exe seems to restart from time to time, but wufuc deduces it as crash and stops working after 3 times threshold.
Any way to disable this? I have no vs2017 installed cant build right now.

[code]

[2018-03-23 21:20] zeffy commented on #146
That's weird. I never ran into that during my testing. I will look into this further!

As far as disabling that behavior, its not possible at the moment but I can make it optional in the future.

[2018-03-23 21:47] Demion commented on #146
Regarding `MH_ERROR_ALREADY_CREATED` you can try `MH_RemoveHook`. As far as I understand minhook source, `MH_DisableHook` is redundant, cause `MH_RemoveHook` disables hook by itself as well.

Something like this
[code]
Haven't looked into sources more, not sure if it will succeed removing hook though because of memory already freed. On other hand if address match and its same code in function "hea

[2018-03-23 22:02] zeffy commented on #146
You may be right. Unfortunately there isn't actually a lot of documentation (examples etc) for MH_RemoveHook as far as I could tell (most of the examples only use MH_DisableHook), so I was trying to be cautious so as not to use it incorrectly. I will play with your idea though. Thank you for all the helpful information!

[2018-03-25 05:34] Shinji200 commented on #68
Hi @zeffy
I just updated the ISSUE TEMPLATE for Spanish language, I see the README is up to date so it was a quick translation, I only removed the part of the disclaimer indicating that the translation hasn't been updated in a while, hope it's not a problem.

Regards!

[2018-03-25 07:44] zeffy commented on #68
@Shinji200 That's fine, thank you very much for contributing!

[2018-03-26 19:32] marcioishii commented on #68
I can translate to portuguese again! But I just don´t remember how to do it!

[2018-03-30 02:07] cloudtuotuo opened #147 "Windows waiting for login..."
Before you create an issue, make sure it has not already been reported.

Then, make sure the following things are included in your issue:

- wufuc version (can be viewed in Add & Remove Programs).
  1.0.0.191 x64.msi
- Operating system version and Service Pack (including 32- or 64-bit).
  Windows 7 x64 SP1
- Short description of the issue.
  After boot the PC, before showing login, the system is s

[2018-03-30 07:00] zeffy commented on #147
There doesn't appear to be anything out of the ordinary in your log. Looks like you've had wufuc installed for about three days according to the log, how many days after you installed wufuc did the it hang on the 'please wait...' message? It's possible this was just a fluke, since like you said the problem went away after you rebooted.

You might be able to find more information about what happene

[2018-03-30 22:32] koitsu commented on #147
I DO NOT believe this problem is related to wufuc.  Some anecdotal ramblings from me:

I've had this happen on Windows 7 x64 Ultimate (can't speak for other variations) semi-recently, several times in succession.  Hitting Ctrl-Alt-Del during this situation will give indication the machine is shutting down but then does nothing -- indefinitely (I've waited as long as 45 minutes).  You literally hav

[2018-04-01 22:31] Shinji200 commented on #68
@marcioishii don't know if you managed to contribute but you just have to go to the wiki tab and then click on the README or ISSUE TEMPLATE of the language you want to translate, then in the top right of the page is the Edit button so you can modify it and save it.

Regards!

[2018-04-01 23:46] zeffy commented on #146
Thanks, that's helpful information. I haven't had a chance to work on this very much yet. I've been working on a separate project that's been taking up a lot of my time, but I'm almost done with it so I'll be able to put more time into solving this (hopefully) very soon.

Thank you both for your patience and for contributing!

[2018-04-02 01:31] cloudtuotuo commented on #147
We deployed this patch in our company. So far, many PC got this issue. And, not all the PC could pass this issue even we did reboot from the safe mode.
We didn't deploy any other software or patches, only this one. So I'm very sure there's something happened related to this patch.

[2018-04-02 01:59] cloudtuotuo commented on #147
As zeffy suggested, we checked the logs on the issue PC. There's one error about GPClient. We'll continue digging and update to here.

[2018-04-02 02:11] zeffy commented on #147
Well, I can't reproduce this. Just put wufuc on a clean virtual machine and let Windows Update run, it finished, rebooted, and logged back in without issue.

@cloudtuotuo How long had wufuc been installed on PCs that experienced this? Like I said before, your logs had entries dating back 3 days originally - did the issue start happening immediately or was it some time afterwards?

Could you elabor

[2018-04-02 03:10] cloudtuotuo commented on #147
@zeffy After we deployed your patch 3 days later, this issue started happening.
Today, 2 PC got hang on issue. And we tried log in the safe mode (successfully logging in), then reboot. But still hangs at 'Please wait' message. Finally, we chose Last known good configuration, successfully logged in normal mode.

As I mentioned, in the logs, we found the error about GPClient. We googled it, there're

[2018-04-02 04:50] kli3ma commented on #147
I confirm this problem. 8 computers in the domain after a few days freeze when the trigger in the Task Scheduler to start wufuc when the computer is turned on is triggered. After disable this trigger - the wufuc started normally with the user's logon. Hanging in the wufuc logs are not fixed. If you have any debug build with detailed logging - i can test and reproduce problem.

[2018-04-02 06:44] zeffy commented on #147
Ok I'm going to take a harder look at this and see if I can figure out what's happening.

@kli3ma Could you elaborate? Turning off the system boot trigger allowed you to log in successfully, but wufuc still had issues after user login, am I understanding that correctly?

In the event that writing to the log file fails (along with other general diagnostic messages), wufuc instead emits debug messag

[2018-04-02 08:35] kli3ma commented on #147
No, after turning off system boot trigger - system boot successfully, after user log in, wufuc started and injected (sure, wufuc trigger in task sheduler on user login enabled) . Window "Unsupported Hardware" still appears, but updates work.

I try change wuauserv type from "shared process" to "own process", enable both wufuc trigger in Task Sheduler and test. Then system boot successfully, user l

[2018-04-02 14:26] zeffy opened #148 "When Windows Update service is set as "own process" and stops during normal operation, wufuc incorrectly logs it as a crash"
See comments in both #146 and #147. Needs further investigation.

[2018-04-02 14:56] zeffy commented on #146
Going to take a stab at this MH_ERROR_ALREADY_CREATED bug today, hopefully I can get it fixed in a clean way.

Just rambling here trying to think of potential solutions:

- Hook FreeLibrary and check the reference count of wuaueng.dll before freeing it, and if it would actually be unloaded upon calling FreeLibrary, remove the IsDeviceServiceable hook before freeing it. I'm not entirely sure if get

[2018-04-02 17:23] Demion commented on #146
`MH_RemoveHookEntry` is not existent minhook API just example how to remove hook entry from minhook `g_hooks` list.

In my opinion, keeping reference count of load / free library and removing hook before actual DLL unload seems totally redundant, cause this DLL code (memory) will be anyway freed.
Only purpose of removing hook is to remove reference of target function address from minhook `g_hooks`

[2018-04-02 17:36] zeffy commented on #146
I know, that's what I was trying to say. Sorry if I wasn't clear. :)

Only purpose of removing hook is to remove reference of target function address from minhook g_hooks list.

Agreed, I didn't really like this solution either. Seems messy and error prone.

Correct.

Also correct.

I agree with this as well.

I had another idea. Prior to the current version (on 0.7 and below), wufuc did not actua

[2018-04-02 19:43] Demion commented on #146
Sorry, I also havent checked previous version source, but patching variable might not work if function is updated, unless this variable address is deduced by some pattern (not fixed offset).
Anyway, I guess, `IsDeviceServiceable` pattern might change as well (probably wont).

Both seem like kinda equvalent solutions. Theoretically patching single variable is even less hassle than hooking - disasse

[2018-04-02 20:09] zeffy commented on #146
The addresses of the variables to be patched would indeed be deduced from the pattern, I calculate the pointers to the variables based on the instruction operands at certain offsets inside IsDeviceServiceable. So, if the variable patching broke with an update, the pattern used to find the function would also be broken anyway, because the patterns cover these values. For example the pattern for Win

[2018-04-02 20:26] #146 closed

[2018-04-02 20:30] zeffy commented on #146
This specific issue has been fixed as of a8adfa3, build artifacts are available on appveyor as usual here: https://ci.appveyor.com/project/zeffy/wufuc if you want to test it.

I still haven't fixed the other "false-positive crash detection" bug that you also discovered, though (I created a new issue for it #148), so you'll probably have to change wuauserv back to shared process and reboot.

[2018-04-02 20:50] Demion commented on #146
I uninstalled wufuc, rebooted, installed build from a8adfa3 appveyor, rebooted. After that my Windows Update Control Panel explorer was not responding and wuauserv service could not be stopped.
I killed wuauserv svchost.exe, set it to shared process and rebooted, now seems to work fine.
Not sure if it was one time glitch or something with own process, can not reproduce now.

I will report back in

[2018-04-02 20:56] zeffy commented on #146
That can happen if you have the WU Control Panel window open when you stop the service, it will become unresponsive. I was testing it under the exact same conditions (Windows 7 x64, wuauserv configured as own process), and the patching procedure seemed to work fine. Let me know if it keeps happening, though.

[2018-04-04 04:56] kli3ma commented on #147
Label "windows 7" - incorrect. I have this issue on windows 8.1 machines.

Maybe issue can be realated with boot/speed order - the problem manifested itself first on computers equipped with SSD. And always issue appear after a few days after installing OS - as far as I know, windows perfoms some boot optiomization. Can you change wufuc start mechanism (some delay after start or somthing like that)

[2018-04-04 05:29] sammilucia commented on #146
I was having the MH_ERROR_ALREADY_CREATED logged also, not immediately - ?possibly after sleep (S1-S4)...

I removed and reinstalled v1.0.0.191-x64 without reboot, ran WU and it worked perfectly until sleep again, then the Windows hardware warning dialog came back and Wufuc logged hook removal was triggered (but no MH_ERROR_ALREADY_CREATED error this time).

Uninstalled v1.0.0.191-x64 and installe

[2018-04-04 05:34] zeffy commented on #146
@sammilucia As noted above the MH_ERROR_ALREADY_CREATED bug has been fixed in the latest appveyor build if you wanted to try it out. Haven't pushed it in an "official" release yet because I'd like to fix a couple other bugs first.

[2018-04-04 05:50] zeffy commented on #147
Fixed. :smiley:

I can try, but that seems more like a hack to work around the issue than a fix. I'd like to know what is actually causing the system hang in the first place. Introducing a delay could end up making things more complicated because some of wufuc's features depend on it being active prior to Windows Update starting for the first time - so I'd like to avoid this as a permanent solutio

[2018-04-04 07:47] TigerHeart001 opened #149 "aio-wuaueng.dll-patch cannot detect "unsupported hardware" update, and ask me to write it here."
<details>

## Operating System

[code]

## Processor

[code]

## Installed Hotfixes

[code]

## wuaueng.dll Properties

[code]
</details>

[2018-04-04 08:46] kli3ma commented on #147
Maybe it helps. I attach event logs from Task Sheduler wufuc log and System EventLog from moment, when computer start till computer hang.
[eventlogs.zip](https://github.com/zeffy/wufuc/files/1874902/eventlogs.zip)

[2018-04-04 13:54] zeffy commented on #149
Hey there, it looks like you're using an older version (<0.6) of wufuc, please download the [**latest version**](https://github.com/zeffy/wufuc/releases/latest) and try it out. It should solve any problems you are having. You may have to restart to fully remove the old patch after you install the new one.

For more information about how the new patch works, see the [README](https://github.com/zeff

[2018-04-04 13:54] #149 closed

[2018-04-04 14:14] zeffy commented on #147
That's helpful! Gives me a better idea of what's going on. Indeed, all the services that are crashing (or timing out) are in the netsvcs group.

Maybe unrelated, but I noticed you have ESET running, which appeared to also crash, although it was about a minute after netsvcs started having problems, so I don't necessarily think it is the cause. Just trying to cross off potential causes/environment f

[2018-04-04 14:55] kli3ma commented on #147
Yes, i think the reason for suspending the computer is that the services critical for the future work are suspended. All this services share one process with wuaserv and task sheduler service. As i said - if i move wuaserv to own process - boot always secceffully.
About ESET - yes, its good idea. Tomorrow i will remove Eset, enable wufuc and test boot many times.

[2018-04-07 12:40] sammilucia commented on #146
Thanks @zeffy, I just saw that in your commits after I posted ;p!

I'd go mad without wufuc! Ty 😊

[2018-04-08 01:15] BoffinbraiN opened #150 "Installer hangs on 'Preparing files for removal'"
OS: Windows 7 Ultimate x64
Running wufuc_v1.0.0.191-x64.msi

When the installer gets to the step 'Preparing files for removal' it gets to about 5% and then makes no progress, even after waiting 10 minutes. Pressing Cancel and Yes won't cancel the installation so the only option is to kill msiexec.exe from the task manager.

No log is available. The installation folder doesn't exist at this point.

[2018-04-08 02:03] zeffy commented on #150
The installer is likely hanging while trying to stop wuauserv or something similar, you can try restarting your PC and then use the batch (zip) installer instead, just copy the contents of the zip file to `C:\Program Files\wufuc` before you run `install_wufuc.bat`, and then follow the prompts.

[2018-04-09 02:57] zeffy commented on #147
@kli3ma Thanks! Is there any chance you could post event logs like you did before but without ESET active, so that I can what difference there is between these two scenarios? wufuc does defintely seem to be the cause of this rather than ESET (although it may have been exasperating it).

Perhaps injecting into svchost.exe too early is causing a deadlock of some kind in the process? That could expla

[2018-04-10 15:46] kramytech opened #151 "Windows Server 2008 R2"
I am having the same "Unsupported Hardware" issue running Windows Server 2008 R2 with a Xeon E3 v6 processor.  Will these same patches work for this OS?  Thanks

[2018-04-10 17:12] zeffy commented on #151
Yes, Server 2008 R2 is supported.

[2018-04-10 18:29] kramytech commented on #151
Awesome.  It worked perfectly with Windows Server 2008 R2.  Thanks so much :)

[2018-04-10 19:25] zeffy commented on #151
No problem, happy to hear it!

[2018-04-10 19:25] #151 closed

[2018-04-11 02:47] cloudtuotuo commented on #147
@zeffy After we changed GPO settings, only few computers reported the login hang issue. We're not sure if this issue had gone, or our users rebooted into safe mode then rebooted again according to our suggestion.

Any new update will let you know...

[2018-04-12 03:37] zeffy commented on #147
Generally the order on a system with default settings is:

- PC powers on
- Core device drivers start
- Automatic start services (including Scheduler, which starts system boot tasks like wufuc)
- Delay start services (including wuauserv)

In my observations wuauserv usually does not start until around 3-5 minutes after the PC is fully powered on and idle.

Ideally wufuc should be started **before*

[2018-04-12 06:54] zeffy commented on #147
Interesting, when I run that I get `service wuauserv has not registered for any start or stop triggers.`, my wuauserv is indeed set as "Auto start (delay)", so maybe that could have something to do with the difference?

That's likely. I've been thinking that as well. I'll have to look into how to set one up so that I can delve further into this.

Thanks again for all your feedback and useful infor

[2018-04-12 07:31] kli3ma commented on #147
It's strange. In the evening i check it on home machine (without any domains).  Let clarify configuration: i test wufuc in win8.1 with all updates at now.

It is not worth it. Before you said "Ideally wufuc should be started before wuauserv", but what happen if wufuc start after or simultaneously with wuauserv? I think - this is what happen in my case.

Thank you for great work. New equipment with

[2018-04-13 17:57] BoffinbraiN commented on #150
Unzipped and installed via the batch files. Works like a charm. Thanks! :smile:

[2018-04-13 17:57] #150 closed

[2018-04-13 19:08] sh-dvl opened #152 "install on win7-32 fails"
- wufuc v1.0.0.191
- windows7 32bit (Version 6.1 Build 7601 SP1)

installer fails with error-msg, but without clear reason/log
screenshot of msg will be attached.

maybe it would be possible to create a simple batch, which might be better debuggable?

[2018-04-13 19:09] sh-dvl commented on #152
![wufuc-failed](https://user-images.githubusercontent.com/26329004/38753516-2add4f68-3f4e-11e8-86fd-cdb3a64e7a40.png)

[2018-04-13 19:11] sh-dvl commented on #152
due to german-install, the msg is also in german. sorry.
it says something like: "there's a problem with this installer-packet. a program which is executed during installation failed. contact your support or the manufacturer of the installer-packet"

[2018-04-13 20:25] zeffy commented on #150
Glad to hear it!

[2018-04-15 09:07] Gabor-B commented on #68
DE and HU updated

[2018-04-15 12:33] NoMoreFood commented on #140
@zeffy Just an FYI --- apparently Microsoft just released Detours under MIT.

https://github.com/microsoft/detours

[2018-04-15 20:12] zeffy commented on #140
@NoMoreFood That's awesome! I'll probably just stick with Minhook for now because it seems to be doing its job, but I'll keep my eye on that. Thanks for sharing.

[2018-04-16 02:45] cloudtuotuo commented on #147
@zeffy Bad news. This morning, about 10 PC got the hang on issue...

[2018-04-16 03:58] zeffy commented on #147
@cloudtuotuo I'm still working on solving this, but in the meanwhile you can try what @kli3ma suggested above and turn off the system startup trigger in the Task Scheduler for PCs that are affected by this issue, since that seems to bypass the problem.

I apologize for any inconvenience or headache this problem may have caused.

[2018-04-18 02:17] cloudtuotuo commented on #147
@zeffy Thank you for what you did on this great patch. We'll always be your side.

[2018-04-18 23:55] zeffy commented on #148
Think I figured out how to fix this. I think when svchost.exe exits it just terminates all of its threads instead of letting them clean up, so my instance mutex was getting abandoned, so I'm going to change wufuc so that it creates and destroys its instance mutex inside DllMain so that it is always cleanly destroyed, at least in theory. I still need to implement and test this.

[2018-04-19 00:05] zeffy commented on #140
Actually, I changed my mind! After considering this further, minhook has been unmaintained for quite some time, so I think it would be better to switch to Detours now that it has a more open (GPL-compatible) license. Look forward to this in the next release!

[2018-04-21 20:40] vroy0001 commented on #20
I was redirected here from the M560 patch thing BTW, so I'm not sure this is the right place, but I can verify I was able to install 8.1 (Industry Embedded Pro, if it matters) in a VM on my M560 box.

[2018-05-01 02:49] RSHP opened #153 "No supported updates are installed!"
<details>

## Operating System

[code]

## Processor

[code]

## Installed Hotfixes

[code]

## wuaueng.dll Properties

[code]
</details>

[2018-05-01 03:42] zeffy commented on #153
Hey there, it looks like you're using an older version (<0.6) of wufuc, please download the [**latest version**](https://github.com/zeffy/wufuc/releases/latest) and try it out. It should solve any problems you are having. You may have to restart to fully remove the old patch after you install the new one.

For more information about how the new patch works, see the [README](https://github.com/zeff

[2018-05-01 03:42] #153 closed

[2018-05-09 16:12] robmar0se opened #154 "New win 7.1 64 ult built with i5-7500 wufuc 191 not functioning"
- wufuc version (can be viewed in Add & Remove Programs). - 191
- Operating system version and Service Pack (including 32- or 64-bit). win 7.1/64 ultimate installed with updates to April 2018 slipstreamed
- Short description of the issue. Installed win7  with i5-7500 on Z270 board with updated turned off. Turned on updates with option to let me choose, rebooted got update/hardware screen, installe

[2018-05-10 08:26] robmar0se commented on #154
I am going to answer my own question!

A misunderstanding, I initially downloaded the *.zip file and ran the *.bat utility which gave rise to the issues above.

After reading  up other websites  etc I went back and tried the *.msi file which has worked like a charm.  Thank you

So alls well. and can close this post.

[2018-05-10 08:26] #154 closed

[2018-05-10 12:06] chrcoluk opened #155 "unsupported hardware popups"
Can these be blocked as well?

Basically this mod blocks the Windows Update blacklist, but it doesnt stop the random popups, that appear outside of windows update.

[2018-05-10 15:42] UnbreakCode commented on #155
It should block this message too.Maybe try a reinstall.

[2018-05-10 23:38] zeffy commented on #155
As stated above, it should be blocking the popup too. Could you post your wufuc.log file please?

[2018-05-12 13:54] VVampire opened #156 "Unsupported hardware popups are back"
Hello, I have been using Wufuc since I fixed and upgraded my pc.
That would be 4 days now and I really like Windows 7 and hate the new ones, so it helps a lot.
Thank you so much zeffy for your hard work, I hope you will never stop.
However, yesterday the unsupported hardware popups came back. I really don't know why.
It was very sudden, I hope someone will know what's going on.

(I know there was

[2018-05-12 14:37] zeffy commented on #156
Could you post your wufuc.log file from C:\ProgramData\wufuc\wufuc.log?

Thanks.

[2018-05-12 17:49] VVampire commented on #156
Sure, no problem.
[wufuc.log](https://github.com/zeffy/wufuc/files/1997805/wufuc.log)

[2018-05-12 17:58] zeffy commented on #156
Looks like #146, which I have fixed in the latest appveyor builds. I have not had a lot of free time recently so I haven't been able to make a new release for it, but you can get the appveyor build here: https://ci.appveyor.com/project/zeffy/wufuc/build/job/aekpdymfywhcfh6b/artifacts

Uninstall the version of wufuc you have now and install this one, and the popups should stop appearing.

[2018-05-12 18:58] VVampire commented on #156
Awesome, thanks for help.
I hope that will fix my issue.

[2018-05-12 18:58] #156 closed

[2018-05-15 21:13] AQXT1000 commented on #155
With me too, already did a reinstall and it keeps popping up

[2018-05-15 22:03] piratesephiroth commented on #155
There's a possible solution in #156

[2018-05-16 03:36] LukeDogwalker opened #157 "Porting Project to Build with VS2012?"
Can you provide a Visual Studio Solution that works in Visual Studio 2012 so I can build it?  It looks like your project requires VS 2015.  I would've thought a fellow "true believer" :-) who prefers Windows 7 would be using the oldest VS edition capable of building the software.

I tried to switch it to toolset v110 (VS2012), but when I try to build I get many assertion failures, such as:

Error

[2018-05-16 08:47] zeffy commented on #157
To compile wufuc you need the latest version of Visual Studio 2017 and [WDK](https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk) installed, that's it. I do not plan on supporting other versions of VS, as I don't have the time to spend maintaining separate solutions.

You are however absolutely free to fork wufuc and figure it out yourself; I have no problem with this.

Have

[2018-05-16 08:47] #157 closed

[2018-05-16 08:56] #155 closed

[2018-05-16 14:30] f-c-s commented on #147
Hello,

I have a similar problem. I installed wufuc on 27.04.2018 on the fresh installation of Windows 7 Pro x64 I7-7700 (Kaby lake) and I downloaded updates until reach "Unsupported hardware" message.

I have installed Eset Internet Security 11.54.

I'm preparing this computer to work from time to time (I use different produce machine). Yesterday I wanted to continue preparing new computer and it

[2018-05-16 14:49] zeffy commented on #147
I'm currently in the process putting together a much less invasive version of wufuc that should hopefully resolve this. It will handle everything externally rather than injecting itself into `svchost.exe` and hooking various functions, which should make it a lot more stable (also a lot less code is needed.

Doing it this way will re-introduce incompatibility with UpdatePack7R2, however (#100) whic

[2018-05-17 17:12] #148 closed

[2018-05-17 17:13] zeffy commented on #152
Probably fixed this in the latest release. I removed the "abort on failure" when stopping and starting `wuauserv`, so even if they time out it should still succeed. https://github.com/zeffy/wufuc/releases/latest

[2018-05-17 17:13] #152 closed

[2018-05-17 17:15] #143 closed

[2018-05-18 00:49] kli3ma commented on #147
Sure, i will test it and report. Thank you!

[2018-05-20 20:18] Shinji200 opened #158 ""Unsupported HW" Msg every time I start the PC"
- wufuc version: v1.0.1.201
- OS: Windows 8.1 X64

Hi Zeffy,
I want to report something, however I'm not entirely sure it's an issue, yesterday I installed the new version 1.0.1.201 but after that now every time I restart my PC I get the message of unsupported HW at the beginning of the session, I saw in the release notes that in rare occasions a similar behavior could be triggered but I'm not sur

[2018-05-20 20:38] zeffy commented on #158
I can't say I encountered it that often while testing, but yes it's probably normal. It likely depends on how the Windows Update service is configured to start up, etc.

If you can open Windows Update and click "Check for updates" in the left pane of the window without getting another popup, then wufuc is working correctly. I know the occasional popup is annoying, but it was a trade off I had to m

[2018-05-21 07:31] cloudtuotuo commented on #147
I've distributed this new patch to our PCs. I'll update you once I get something.

[2018-05-21 23:36] Shinji200 commented on #158
Hi Zeffy,
Thanks for the replay, for now it seems that I only get the message at the start of the session, also the windows update service was configured to start manually, just changed it to automatic delayed start, going to see if that changes things, seems I got unlucky as even after uninstalling wufuc and installing again I'm still getting the message hehe.

Regards

[2018-05-25 07:19] CuoreSportivo commented on #147
I was about to deploy the patch in three machines that belong to a domain until I noticed the thread. I hope the fact that no one has yet reported back is positive... :)

[2018-05-25 09:46] ErnestoSF commented on #158
The same here, with wufuc version: v1.0.1.201 and Windows 8.1 X64, I receive the popup every time I start the computer or wakeup from sleep mode.

[2018-05-27 18:13] zeffy commented on #158
So I can think of a couple ways to fix this, but neither seems perfect:

1. At the end of the patch procedure I can run some code that will essentially just close the popup if it is showing. However, the popup will usually flash on the screen for between a few milliseconds to a few seconds before it is closed, which could be jarring/confusing to the user if they don't know what is happening.
2. At

[2018-05-27 18:20] zeffy commented on #147
@kli3ma @cloudtuotuo It's been around a week, have either of you experienced any issues with the new version (besides the occasional "unsupported hardware" popup)? :crossed_fingers:

[2018-05-27 21:44] sammilucia commented on #158
@zeffy seeing as some people are using this in commercial environments I think the window hook method makes sense. Preventing it displaying you've either got to hook all windows or inject the WU process which from what you've said sounds like a moving target... So as far as dirty hacks go it's pretty clean lol. The only downside I can think of is it might trigger some antimalware software.

[2018-05-27 23:52] Shinji200 commented on #158
@zeffy so far I only get the pop-up at logon and not during "normal" use, it didn't change the behavior even after changing the startup type of the Windows Update service to automatic Delayed start. In any case I still can download updates without issues.

[2018-05-28 08:57] kli3ma commented on #147
Wufuc was installed on 4 machines about a week ago. Everything works well. Except popup on every boot :)

[2018-05-28 09:05] zeffy commented on #147
@kli3ma Excellent, I'm glad to hear it's working so far for you! Also, I'm currently working on the popup issue, you can follow my progress on it over at #158.

If I could get confirmation from one or two other people that the hangs indeed no longer occur, I think this issue could probably be closed.

[2018-05-28 09:14] zeffy commented on #158
@sammilucia Yeah it does work pretty well (at least in my test environment), but like you say I think some anti-malware (or possibly more concerning, anti-cheat systems in some games) would likely complain about it, which I think could end up being problematic. I'd really like to avoid system-wide hooks or injecting into system service processes unless there is no other way, so I'll keep doing res

[2018-05-28 09:39] sammilucia commented on #158
@zeffy yes, wufuc is essentially a hack to workaround a "feature" of Windows though, I can't think of another way.
What about just unhook as soon as it fires? So hook at startup, it suppresses the first warning then unhooks (maybe with a failsafe timeout). That could work while looking for other solutions.

[2018-05-30 01:33] sammilucia commented on #158
@zeffy yes UnhookWindowsHookEx probably doesn't unload from DLLs which have already been hooked, just stops hooking future DLLs? I doubt this is a major problem though because it doesn't perform any function for those processes.
I suppose it depends on who your audience is for wufuc... If it's corporates who are trying to stay on Win 8.1 then ideally you wouldn't want the hardware warning to appea

[2018-05-30 11:40] sammilucia commented on #158
+1 like it!

[2018-05-30 19:29] jjurkus opened #159 "batch file uninstall"
I have an issue with the newest version of wufuc, 1.0.1.201. We are using Windows 7 N Professional SP1 64-bit, and we were using 0.7.1.81 previously.

We are using OPSI to deploy packages to all clients, and 12 of the newer computers have a core i3-7100 cpu. That's where wufuc comes in. Made a package of the previous version, all went well.
With the newer version I have a couple of problems, and I

[2018-05-30 19:31] jjurkus commented on #159
screenshot of dependency walker for wufuc64.dll (1.0.1.201)
![wufuc-depends](https://user-images.githubusercontent.com/9963052/40743045-b87a82ec-6450-11e8-8922-49ab719b40b4.png)

[2018-05-30 19:42] zeffy commented on #159
Not an error, it is meant to be like that. [See the documentation for Rundll](https://support.microsoft.com/en-us/help/164787/info-windows-rundll-and-rundll32-interface); specifically this part:

What are the actual problems you are experiencing that lead you to believe something was wrong?

[2018-05-30 20:02] jjurkus commented on #159
Right, I'll change that back then. I got a lot of errors from rundll32 about the entry point that was not found.

I was thinking I fixed things because after a change everything went well. But the fix was only tested with the newer wufuc installation, and not with the older.

[code]

So I was not unloading the old version properly, the dll was still in use. Somehow the old dll was used for the new

[2018-05-30 20:02] #159 closed

[2018-05-30 21:14] zeffy commented on #159
@jjurkus No problem, most likely what happened

[2018-05-30 21:47] zeffy commented on #159
@jjurkus No problem, I'm glad you were able to fix it. In the next version I will add compatible export aliases for the old function names, so this shouldn't be an issue anymore.

By the way, in the current version of the batch scripts you can invoke  the installer/uninstaller with `/UNATTENDED /NORESTART` for a non-interactive install that you can integrate into your own script.

Also another thi

[2018-05-31 00:00] jjurkus commented on #159
OPSI runs as a system account, so no problems there. Check it out (opsi.org) if you need to deploy operating systems and/or software. It's free open-source. I can also support all my home users (family, friends, myself) with it. It has its quirks, but there's no voodoo involved to make things work.

I really appreciate your effort, but don't waste any time for me. I'm used to changes in software,

[2018-05-31 03:02] cloudtuotuo commented on #147
So far, everything's fine. Thanks @zeffy

[2018-05-31 03:02] #147 closed

[2018-05-31 12:10] ArchitRaV commented on #68
Polish language translation of the file _**ISSUE TEMPLATE**_ added. I will also translate the **_README_** file soon.

[2018-05-31 18:53] rbknox commented on #158
Hi Zeffy, appreciate you clarifying that if updates are working without popup, then wufuc is working.  I had been running 1.0.0.191 and it was not clear if working because I was still getting frequent popups.   I have now installed 1.0.1.201 (Windows 8.1 x64 Kaby Lake) and am now NOT getting popups so far.  However, for both versions (191 and 201) I seem to get some installation errors (see attach

[2018-05-31 19:57] zeffy commented on #158
@rbknox those errors are normal, yes. During installation the script unconditionally tries to start the `Schedule` service and delete the wufuc scheduled task if it already exits. So if the service is already started or the wufuc task doesn't exist, then it will spit out those errors. I've been meaning to silence them but haven't had a chance. I'll try to get that integrated into the script by the

[2018-06-02 19:14] Vuurvlieg opened #160 "Just a Thank You!"
Hi Zeffy, I want to thank you for this very valuable fix. I just installed Windows 7 and was able to install the latest updates with your fix.  I'm glad you know how to RE with x64 debug and released a public fix. Once again, thank you!

_You can close this after you've read it._

[2018-06-02 19:17] zeffy commented on #160
You're very welcome! I'm glad it has helped you. :)

[2018-06-02 19:17] #160 closed

[2018-06-04 21:20] zeffy commented on #68
@ArchitRaV Thanks, much appreciated!

[2018-06-05 20:08] chrcoluk commented on #156
I am going to install the build now and will confirm if it works, Microsoft have coded this so it gets very aggressive if ignored, I am getting the popups almost every 20 mins right now, and they also take focus with the on top windows property.

This is bad enough that a legal letter has been sent to Microsoft from my solicitor.  As I have a fully licensed version of windows and this is malware t

[2018-06-05 20:12] zeffy commented on #156
@chrcoluk make sure you use the [latest release](https://github.com/zeffy/wufuc/releases/latest) in GitHub releases and not the build I linked above, as this specific issue has been fixed in the latest release. There is still the possibility of the occasional popup but they will be far less frequent (usually only show up when you log in).

[2018-06-05 20:13] chrcoluk commented on #156
Thanks, this solves my download issue as well then. :)

[2018-06-06 18:10] sammilucia commented on #158
I've seen the Unsupported Hardware window several times waking from sleep. Not consistently though, it happens probably 1/4 to 1/3 the time. It may be related to a timing issue (the UH window is called just as the PC is waking up). I doubt it's related to different sleep states looking through the System Event Log. As usual there's no problems installing updates.

It might be a case to keep the ha

[2018-06-06 18:27] zeffy commented on #158
Could also probably register callbacks that set the hook/event proc with a timeout when connecting to a user session (like logging in or waking up the pc). I believe this should be possible.

For now though I'm looking into other options. I've found a couple potential routes I could go, such as locking one of WU's global named mutexes or events so that it can't proceed until I unlock it, or interc

[2018-06-06 18:41] zeffy commented on #158
Also worth noting, I believe I've figured out how to solve this without any ugly hacks on Windows 8.1. It has a newer function available that I can use in place of `NotifyServiceStatusChange` called [`SubscribeServiceChangeNotifications`](https://msdn.microsoft.com/en-us/library/windows/desktop/hh973487(v=vs.85).aspx), which appears to be ran synchronously. I haven't tested it yet, but if it works

[2018-06-07 02:42] sammilucia commented on #158
That sounds good for w8.1 (which I use)... I still don't think the original hook was that dirty 😂. Sorry about the PC hardware problems 😬

[2018-06-09 07:56] Kenmercermusic commented on #158
I installed a version of Wufuc last year and everything was working for me until a couple of days ago, I then tried to install the latest version but still getting the 'Unsupported Hardware' pop-up. It even appears when I go to windows update and select 'Check For Updates'. Any advice/fix for this would be greatly appreciated.

[2018-06-09 13:00] zeffy commented on #158
@Kenmercermusic could you upload your log from `C:\ProgramData\wufuc\wufuc.1.log`? thanks

[2018-06-11 08:57] shak3800 commented on #158
Hi there

I seem to be getting as well the popup very often using windows 8.1 . Is there a way to disable it or a workaround?

[2018-06-12 19:18] Drayke-Halcyon commented on #158
First of all, I'd like to say thank you for devoting your time and energy to this project. I'm a huge fan!

That being said, I've had a system running Windows 7 Professional (x64), and haven't had any troubles since it was installed, until the last couple of days. I'm getting the pop-up when booting the system now, as well as when we run Windows Update. Is there something I'm overlooking?

[2018-06-15 04:31] arrowgamer commented on #158
I'm getting the popup after booting. I'm using a z370 motherboard.

[2018-06-15 21:47] shak3800 commented on #158
This is probably a long shot. Is it possible you couls spoof the cpu/gpu to display supported models at least when on boot in order to pass the check?

[2018-06-21 18:44] zeffy commented on #158
@shak3800 Unfortunately no. The CPU check uses the `cpuid` assembly instruction which queries the processor directly about its specs. It is possible if you are running Windows inside of a hypervisor (which is between the OS and the CPU), like vmware or vbox, but for most people that is not an option. Also in regards to your previous question, you could try an older version but I don't recommend it

[2018-06-21 22:51] Kenmercermusic commented on #158
@zeffy Hi Zeffy, I uploaded my log file 2 weeks ago as you requested but you never got back to me? Just wondering if there is some solution to my issue, it's really getting on my nerves now as it pops up frequently when I'm trying to work. Any help would be appreciated. Thanks. Ken

[2018-06-21 23:34] zeffy commented on #158
@Kenmercermusic sorry, I had been having pc hardware issues as noted above, and have had a lot of other stuff going on in my life as well, so I haven't been able to spend as much time on this project. I took a look at the log file you posted and there was nothing out of the ordinary other than it appearing to have only ran one time on 6/8/18. I figure whatever is going on will likely be resolved o

[2018-06-21 23:46] Kenmercermusic commented on #158
@zeffy It seems to be getting worse for me, at first it was just one time on restart but now it randomly pops up several times throughout the day. I really appreciate your commitment to helping us all with the new upgrade you are working on. Thank you!

[2018-06-25 07:19] donmega commented on #158
I am also keep getting the unsupported hw message. I've attached the log file (Windows 8.1 x64)

[wufuc.1.log](https://github.com/zeffy/wufuc/files/2132088/wufuc.1.log)

[2018-06-26 15:37] UnbreakCode commented on #158
@Kenmercermusic I think the the Msg comes,when Windows is trying to automatically search for Updates.You can disable the automatic Function for searching Windows Updates as a little fix for the random popup.

[2018-06-26 16:53] Kenmercermusic commented on #158
@zeffy Thanks, I'll give it a try for a few days and let you know how it goes!

[2018-07-02 22:09] Risone opened #161 "Error message upon install"
- wufuc version (can be viewed in Add & Remove Programs).
 Did not  complete the install of wufuc_v1.0.1.201-x64.msi

- Operating system version and Service Pack (including 32- or 64-bit).
win 7 Service pack 1 64 bit

- Short description of the issue.
get error message during install:
windows\installer\3ec256.ipi  Cannot open database file system error 2147287037

- Attach wufuc's log file (locate

[2018-07-02 23:39] glaberZhang opened #162 "can not fix the prob with the following log."
<details>

## Operating System

[code]

## Processor

[code]

## Installed Hotfixes

[code]

## wuaueng.dll Properties

[code]
</details>

[2018-07-03 00:10] zeffy commented on #162
Hey there, it looks like you're using an older version (<0.6) of wufuc, please download the [**latest version**](https://github.com/zeffy/wufuc/releases/latest) (wufuc_setup_x64.msi) and try it out. It should solve any problems you are having. You may have to restart to fully remove the old patch after you install the new one.

For more information about how the new patch works, see the [README](h

[2018-07-03 00:10] #162 closed

[2018-07-09 16:29] Donaldme commented on #20
Hi! The patch wufuc_v1.0.1.201-x64/wufuc_v1.0.1.201-a52637d4 isn't working for my system: win81pro64 and Ryzen1800. Patch wufuc_v0.7.1.81 on the other hand works well.
Just my 2 cents. Thank you!

[2018-07-18 06:09] vsrawat opened #163 "message still appears"
I have installed wufuc v1.0.1.201 on w8-64 bit
I am able to install windows updates, that was not possible before installing your patch.
but THE message still appears.

[wufuc.1.log](https://github.com/zeffy/wufuc/files/2204621/wufuc.1.log)

I have installed your patch several times whenever I see that message, but message continues appearing.

Thanks.
--
Rawat

[2018-07-20 08:18] BLKBRDSR71 opened #164 "Windows 7 Home x64 SP1, Ryzen 5 1600, 2018-07 Security Monthly Quality Rollup for Windows 7 for x64-based Systems (KB4338818) This update keeps comming back. Refuses to remain installed."
Before you create an issue, make sure it has not already been reported.

Then, make sure the following things are included in your issue:

- wufuc version (can be viewed in Add & Remove Programs).
- Operating system version and Service Pack (including 32- or 64-bit).
- Short description of the issue.
- Elaborate steps to reproduce the bug/issue being reported.
- Attach wufuc's log file (located at

[2018-07-20 09:29] #164 closed

[2018-07-24 02:11] Shinji200 commented on #163
I think this is the same as the Issue #158 that I opened, if you only get the message at the start of windows logon then it's kind of expected, as soon as you can download updates I don't think you have something to worry about.

Regards!

[2018-07-24 06:46] vsrawat commented on #163
I agree.

Major problem was not being able to check-download updates, that is solved by your lovely software.

Now only that huge message appears on every boot, I close that, so no problem, it is just irritating.

Though, that message sort of tells that something related to the basic problem is still active.

Thanks.

[2018-07-24 06:46] #163 closed

[2018-07-26 03:00] tonyzhongcl opened #165 "still have unsupport hardware errors"
Before you create an issue, make sure it has not already been reported.

Then, make sure the following things are included in your issue:

- wufuc version (can be viewed in Add & Remove Programs).
- Operating system version and Service Pack (including 32- or 64-bit).
- Short description of the issue.
- Elaborate steps to reproduce the bug/issue being reported.
- Attach wufuc's log file (located at

[2018-07-26 03:07] tonyzhongcl commented on #165
install latest version is working

[2018-07-26 03:07] #165 closed

[2018-08-05 11:58] remco8264 commented on #158
Setting the WU Service to **disabled** makes the popup dissappear at boot.
If you want to install update, you'll need to enable the service, install the updates, and disable the service again afterwards.

[2018-08-06 14:14] Ken11792 opened #166 "worked at first, now does not work"
Win7 SP1 64bit new install to ssd
wufuc ver 1.0.1.201
no log file found at `C:\ProgramData\wufuc\wufuc.1.log`).

Installed wufuc.  At first it seemed to work.  Installed more updates.  Still worked.  Installed Office 2010 64bit and let it get updates through windows update.  After that, the "UNSUPPORTED HARDWARE" message came back.

I uninstalled wufuc, rebooted. Reinstalled wufuc.  rebooted. The

[2018-08-06 19:40] zeffy commented on #166
If there is no log file then its likely that it was never working (or was unable to write to it for some reason). You can try reinstalling wufuc or installing it using the .zip if you used the .msi, or vise versa.

Note however that even when wufuc is working as expected, sometimes the unsupported hardware popup will still appear sometimes (less frequently), usually when you log in.

[2018-08-07 12:50] Ken11792 commented on #166
Hi, thanks for your quick reply.

At first
I have tried what you suggested.  No luck.  I tried reinstalling several times. Each time, I see the SUCCESS messages and am asked to reboot.  However, after a reboot there is no wufuc directory in Program Files, nor is there an entry in Uninstall or change a program.  I have also noted that boot time increased. Did MS detect and delete wufuc?

Then
I tho

[2018-08-07 15:17] zeffy commented on #166
The .zip uses the current directory as the install location, not program files. I should have mentioned that.

I don't know understand what could be causing this. Could you try opening a command line prompt, entering `schtasks /Run /TN "wufuc.{72EEE38B-9997-42BD-85D3-2DD96DA17307}"` and see if there is a difference (log file exists, no more popups, etc)? Thanks.

[2018-08-08 12:15] Ken11792 commented on #166
Hi,
I ran the command and have included the results below.  I also ran a query, also below.  I also found the log file here: c:\ProgramData\wufuc

Right now, all seems to be working fine.  Thanks again.

CMD WINDOW CAPTURE:
[wufuc.1.log](https://github.com/zeffy/wufuc/files/2270149/wufuc.1.log)

C:\Windows\system32>schtasks /Query /TN "wufuc.{72EEE38B-9997-42BD-85D3-2DD96DA1
7307}"

Folder: \
Task

[2018-08-08 16:33] zeffy commented on #166
Nice, I'm glad its working now. Let me know if it stops working again.

[2018-08-15 04:22] john19764 opened #167 "heathersilva23@gmail.com"
Before you create an issue, make sure it has not already been reported.

Then, make sure the following things are included in your issue:

- wufuc version (can be viewed in Add & Remove Programs).
- Operating system version and Service Pack (including 32- or 64-bit).
- Short description of the issue.
- Elaborate steps to reproduce the bug/issue being reported.
- Attach wufuc's log file (located at

[2018-08-15 05:33] piratesephiroth commented on #167
???

[2018-08-17 19:56] #167 closed

[2018-08-20 10:49] BugsDigger opened #168 "Please, give us "signs of success""
Hi, many thanks for your soft !

Installed from zip 1.0.1.201-a52637d4, no info in "Add & Remove Programs".

Win7/64 with all (available) updates.

After installation I don't see any "signs of success" (except of absence of annoying message in question at moment :-)).

I see a difference (~1 hour) in timestamps of wufuc64.dll if I install from msi or from zip. Is this important?

Depending on ista

[2018-08-20 11:00] zeffy commented on #168
If you check the log file it will say if patching was successful or not, and if you can open Windows Update and click "Check for updates" in the side pane without getting the unsupported hardware popup, then it is working correctly.

On the file itself? No.

Usually that means wufuc is already running.

[2018-08-21 06:46] BugsDigger commented on #168
Thank you for feedback.
Unfortunately I've got this damned MS message regardless of the fact that I see your patch in memory... :-(
Log is empty (no any info relative to "patching was successful or not").

Does your patch depend on system dll(s) version(s)? (And if yes, with what of them it was tested?)

[2018-08-21 06:52] zeffy commented on #168
No, it's mostly self contained other than using some standard windows APIs that have been around since Vista or earlier.

Don't know what could be causing that, I've seen a couple people report similar issues. You could try killing the existing rundll32.exe process and run the wufuc task manually from the Task Scheduler.

[2018-08-21 10:44] BugsDigger commented on #168
Tried this from cmd with admin rights:
schtasks /Run /TN "wufuc.{72eee38b-9997-42bd-85d3-2dd96da17307}"
Success

dll appears in memory, log is empty. Check for updates does not show its nasty message right now (probably because there are no updates at moment?.. Or because patch is really working now?..)

In what cases wufuc task log something? On every start/err/success? (Why my log is empty?) Is

[2018-08-21 14:53] zeffy commented on #168
by default it logs errors and upon patch success. honestly I don't know what would cause it to not log anything, other than perhaps permission issues.

one thing you can try is get [DebugView](https://docs.microsoft.com/en-us/sysinternals/downloads/debugview) and see if anything gets output there. wufuc is supposed to fall back to OutputDebugString in the event that writing to the log file fails.

[2018-08-22 07:14] zeffy commented on #168
Yeah, that's really weird. I haven't encountered anything like this during testing.

I wish I could look into it more, but I've been really tied up recently and haven't had a lot of free time. Don't really know when I'll have a chance to, unfortunately.

[2018-08-27 09:50] BugsDigger commented on #168
Hi zeffy.
I see that this statement is false in my case:

[code]

I have 23453 instead of 23714 (and there is no log message about  it, BTW).
I've specially updated it, so I believe this is the latest version.

Strange, there are 2 dlls: wuaueng.dll (v.7.6.7601.24085) and wuaueng2.dll (v.7.6.7601.23453). Debugging shows me internal name "wuaueng.dll" and v.23453 ...

I see the only place with patt

[2018-08-27 09:56] zeffy commented on #168
@BugsDigger wuaueng2.dll comes from UpdatePack7R2, wufuc is not compatible with it by default, you have to merge the included Restore_wuaueserv.reg before it will work correctly. This is because it has its own patched .dll that it installs and changes the registry to use it instead. Once you fix the registry entry, it will point (correctly) to wuaueng.dll (v.7.6.7601.24085) and that if statement w

[2018-08-27 10:49] BugsDigger commented on #168
@zeffy Aha, now all is working as expected, many thanks! :-)
I see no mention of Restore_wuaueserv.reg in docs. Could you please point me out where it is mentioned?

About flushing log file: process enters into waiting of events, so it has no chance to save contents on disk for too long time. From log viewer's (user's) point of view it looks as empty log.

[2018-08-27 10:59] zeffy commented on #168
Nice!

https://github.com/zeffy/wufuc/blob/micro/FAQ.md#how-to-restore-windows-update-to-its-default-configuration :) but to be fair the FAQ file kind of hidden away.

You have a point, it will still get flushed when you restart but like you say, that isn't much use to a user who is trying to figure out if it is working or not! I will try to get this added when I have a chance.

[2018-08-27 11:06] BugsDigger commented on #168
@zeffy > FAQ
Ah, yes, I see now.
(The only problem that I had not other patches ... :-))

[2018-08-28 16:16] marcaccioc opened #169 "failed to create instance mutex!"
I'm getting the unsupported hardware message and windows doesn't update anything that isn't optional.

my log file just has this line repeating "08/28/18 12:04:15 [rundll32.exe:5404] [ERROR] RUNDLL32_StartW(187): Failed to create instance mutex!"

wufuc version is 1.01.201
Windows 7 Ultimate SP1 x64
[wufuc.1.log](https://github.com/zeffy/wufuc/files/2328872/wufuc.1.log)

If you have questions, be

[2018-08-28 20:30] GCRaistlin commented on #158
Same problem here.
[wufuc.1.log](https://github.com/zeffy/wufuc/files/2329760/wufuc.1.log)

[2018-09-01 03:08] coffeecrisp opened #170 "Paypal support"
For the contribution part, you should add pay via paypall support.

[2018-09-01 07:27] GCRaistlin commented on #158
**@zeffy**, I found out that it's because of DrWeb. The problem is that I couldn't find the workaround - even if all protection components are disabled the error is the same. BTW is the log file being created only by the installation? If I delete it it doesn't appear again after the reboot.

[2018-09-01 08:41] zeffy commented on #158
The log file should be written to whenever wufuc starts, and when the Windows Update service starts, if it isn't being created then odds are the task isn't starting at all (or something is interfering with it working).

In regards to DrWeb causing the issue, I'm afraid that I don't have the time/resources to provide support for security configurations besides Windows Defender or MS Security Essent

[2018-09-10 19:59] GCRaistlin opened #171 "Exe instead of dll"
It is pretty good to run wufuc's dll through rundll32.exe but there's a problem: we need to allow rundll32.exe to modify running processes. It's a huge security hole. Can you please make an exe version of wufuc?